extends layout

block content
  h1= title
  p Admin page
  p 
    button(onclick='startRace()') Start Race
    button(onclick='stopRace()') Stop Race
    button(onclick='saveRace()') Save Results
  p 
    button(onclick='clearRace()') Clear Race

  div.car
    
    div.driver-table
      table
        caption Drivers
        thead
          tr
            th Name
            th transponder
            
        tbody
        
  div.add
    input(type="text", class="driver-name", placeholder="Enter name here")
    input(type="text", class="driver-trans", placeholder="Enter transponder number")

    button(onclick='senddriver()') Add driver

  
  
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/clientadmin.js')