extends layout

block content
  h1= title
  p Live times
  div.car
    
    
    div.driver-table
      table
        caption Drivers
        thead
          tr
            th Name
            th lapnr
            th TotalTime
            th LastLap
            th BestLap
            th AvgLap
            
        tbody

    div.car-laps
      table
        caption Lap times
        thead
          tr
            th Name
            th LapNr
            th Laptime
            th RaceTime
            th transponder
            th hits
            th str
        tbody

 
  
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/client.js')