extends layout

block content
  h1= title
  p Welcome to #{title}
  div.chat
    input(type="text", class="chat-name", placeholder="Enter name here")
    div.chat-messages
    textarea(placeholder="type message")
    div.chat-status 
      | Status: 
      span
        | Idle
  
  script(src='http://localhost:8080/socket.io/socket.io.js')
  script(src='/javascripts/client.js')